main > section > h2{
  color: #606bf2;
}

/* Adyacentes. Impacta solo en el próximo, en ningun otro */
h2 + p{
  text-transform: uppercase;
}

/* Hermanos. Aplica a todos los hermanos (del mismo padre)*/
h2 ~ p{
  text-decoration: underline;
}

.first{
  font-size: 220%;
  font-weight: bold;
}

/* Aplica al primer hijo y modifica la primer letra de ese párrafo a la vez */
article p:first-child::first-letter{
  color: blue;
  background-color: red;
}


/* Aplica al último hijo */
article p:last-child{
  color: red;
}

/* Primera letra */
/* p::first-letter{
  font-size: 68px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
} */

/* Primera linea del párrafo, en caso de que tenga más de una. Líneas delimitadas con br */
p::first-line{
  font-style: italic;
}

.ejafter::after{
  content: "   Esto va después";
  font-weight: bold;
}

.ejafter::before{
  content: "Esto va antes";
  font-size: 24px;
}

.container{
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  width: 100%;
}

.cuad{
  /* float: left; */
  border: 1px solid #000b5e;
  width: 15%;
  height: 100px;
  margin: 2px;
  background-color: #000b5e ;
  text-align: center;
  color: #ffffff;
}

@keyframes circulo-animacion{
  0%{
    transform: translateX(500px);
  }
  50%{
    transform: translateX(500px);
    transform: translateY(250px);
  }
  100%{
    transform: translateX(0px);
    transform: translateY(500px);
  }
}

.circulo{
  animation-name: circulo-animacion;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
